<div class="modal-header">
  <h3 class="modal-title">Edit Embargo Evidence</h3>
</div>

<div class="modal-body">
  <form id="embargoEvidenceForm" name="embargoEvidenceForm" novalidate class="simple-form form-horizontal" role="form" >

    <div class="form-group">
      <label id="sourceLabel" for="source" class="span-3 control-label" >Source</label>
      <div class="span-9">
        <kint-refdata-lookup name="source" id="source" data-object="aoEmbargoEvidence" data-property="embargoEvidenceSource"
                             data-context-obj="context" data-context-path="embargoEvidence.embargoEvidenceSource" class="form-control input-sm" required ></kint-refdata-lookup>
      </div>
    </div>

    <div class="form-group">
      <label id="finderLabel" for="finder" class="span-3 control-label" >Finder</label>
      <div class="span-9">
        <kint-refdata-lookup name="finder" id="finder" data-object="aoEmbargoEvidence" data-property="embargoEvidenceFinder"
                             data-context-obj="context" data-context-path="embargoEvidence.embargoEvidenceFinder" class="form-control input-sm" required ></kint-refdata-lookup>
      </div>
    </div>

    <div class="form-group">
      <label id="urlLabel" for="url" class="span-3 control-label" >Location URL</label>
      <div class="span-6">
        <input type="text" class="form-control" id="url" name="url" placeholder="Location URL" aria-labelledby="urlLabel"
               data-ng-model="aoEmbargoEvidence.embargoEvidenceURL" data-ng-model-options="{ updateOn: 'default blur', debounce: { default: 650, blur: 0} }"
               data-kint-ui-input-feedback />
      </div>
    </div>

    <div class="form-group">
      <div class="span-12" >
        <button type="button" ng-click="$dismiss()" class="btn btn-default btn-sm" >
          Cancel
        </button>
        <button type="button" ng-click="$close()" class="btn btn-success btn-sm" >
          Save
        </button>
      </div>
    </div>
  </form>
</div>
