<div class="modal-header">
  <h3 class="modal-title">Edit Licence Evidence</h3>
</div>

<div class="modal-body">
  <form id="licenceEvidenceForm" name="licenceEvidenceForm" novalidate class="simple-form form-horizontal" role="form" >

    <div class="form-group form-group-sm">
      <label id="sourceLabel" for="source" class="span-3 control-label" >Source</label>
      <div class="span-9">
        <kint-refdata-lookup name="source" id="source" data-object="aoLicenceEvidence" data-property="licenceEvidenceSource"
          data-context-obj="context" data-context-path="licenceEvidence.licenceEvidenceSource" class="form-control" required ></kint-refdata-lookup>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label id="finderLabel" for="finder" class="span-3 control-label" >Finder</label>
      <div class="span-9">
        <kint-refdata-lookup name="finder" id="finder" data-object="aoLicenceEvidence" data-property="licenceEvidenceFinder"
          data-context-obj="context" data-context-path="licenceEvidence.licenceEvidenceFinder" class="form-control" required ></kint-refdata-lookup>
      </div>
    </div>

    <div class="form-group form-group-sm">
      <label id="urlLabel" for="url" class="span-3 control-label" >Location URL</label>
      <div class="span-6">
        <input type="text" class="form-control" id="url" name="url" placeholder="Location URL" aria-labelledby="urlLabel"
         data-ng-model="aoLicenceEvidence.licenceEvidenceURL" data-ng-model-options="{ updateOn: 'default blur', debounce: { default: 650, blur: 0} }"
         data-kint-ui-input-feedback />
      </div>
    </div>

    <div class="form-group form-group-sm">
      <div class="span-12" >
        <button type="button" ng-click="$dismiss(aoLicenceEvidence)" class="btn btn-default btn-sm" >
          Cancel
        </button>
        <button type="button" ng-click="$close(aoLicenceEvidence)" class="btn btn-success btn-sm" data-ng-disabled="!licenceEvidenceForm.$dirty || licenceEvidenceForm.$invalid" >
          Save
        </button>
      </div>
    </div>
  </form>
</div>
