<table class="table table-striped table-hover table-condensed">
  <thead>
  <tr>
    <th>Funder</th>
    <th>Funder group</th>
    <th>Grant name</th>
    <th>% of APC charge</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
    <tr ng-repeat="aoFunds in context.funds" ng-form="aoFunds{{$index}}" ng-include="'components/academic-output/partials/_table_funder_row' + (aoFunds['$editMode'] ? '_edit' : '') + '.html'" >
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>
        <button type="button" class="btn btn-warning btn-sm" ng-click="addBlank('funds')" >Add</button>
      </td>
    </tr>
  </tbody>
</table>
