<table class="table table-striped table-hover table-condensed">
  <thead>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Telephone</th>
    <th>Organisation</th>
    <th>Role</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="aoName in context.names | filter: { person : {id: ''} }" ng-form="aoName{{$index}}" ng-include="'components/academic-output/partials/_table_people_row' + (aoName['$editMode'] ? '_edit' : '') + '.html'" >
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <button type="button" class="btn btn-warning btn-sm" ng-click="addBlank('people')" >Add</button>
    </td>
  </tr>
  </tbody>
</table>
