<td>{{aoLicenceEvidence.licenceEvidenceSource.value}}</td>
<td>{{aoLicenceEvidence.licenceEvidenceFinder.value}}</td>
<td><a ng-href="http://{{ aoLicenceEvidence.licenceEvidenceURL }}" target="_blank">{{aoLicenceEvidence.licenceEvidenceURL}}</a></td>
<td></td>
<td>
  <button type="button" ng-click="editLicenceEvidence(aoLicenceEvidence)" class="btn btn-default btn-sm" >Edit</button>
  <button type="button" ng-click="removeFrom('licenceEvidence', aoLicenceEvidence)" class="btn btn-danger btn-sm" >Del</button>
</td>
