<form id="publication" name="publication" >
  <article data-ui-view>
    <div class="panel panel-collapsible panel-default">
      <div class="panel-heading">
        <h3 data-toggle="collapse" data-target="#publication-body" aria-label="Expand/Collapse the main Publication content" id="publicationHeading">Publication lifecycle</h3>
      </div>
      <div id="publication-body" class="panel-body form-horizontal in" aria-labelledby="publicationHeading">
        <div class="form-group form-group-sm" >
          <label id="publicationStatusLabel" for="publicationStatus" class="span-3 control-label" aria-label="Publication status">Publication status</label>
          <div class="span-3">
            <kint-refdata-lookup name="publicationStatus" id="publicationStatus" data-object="context" data-property="publicationStatus" class="form-control input-sm" >
          </div>

          <label id="publishedDateLabel" for="publishedDate" class="control-label span-3" aria-label="Published date" >Date published</label>
          <div class="span-3">
            <div class="input-group input-group-sm date" data-datetimepicker >
              <input type="text" class="form-control" id="publishedDate" name="publishedDate" aria-labelledby="publishedDateLabel"
                     data-ng-model="context.publishedDate" data-ng-model-options="{ updateOn: 'blur' }"
                     data-kint-ui-input-feedback data-kint-validate />
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class="form-group form-group-sm" >
          <label id="publisherURLLabel" for="publisherURL" class="span-3 control-label" aria-label="Publisher URL" >Gold Publisher URL</label>
          <div class="span-9">
            <input type="text" class="form-control" id="publisherURL" name="publisherURL" placeholder="Gold Publisher URL" aria-labelledby="publisherURLLabel"
                   data-ng-model="context.publisherURL" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                   data-kint-ui-input-feedback data-kint-validate />
          </div>
        </div>

        <div class="form-group form-group-sm" >
          <label id="publicationStatusNoteLabel" for="publicationStatusNote" class="control-label span-3" aria-label="Publication Status Note" >Publication status note</label>
          <div class="span-9">
            <textarea type="text" class="form-control" id="publicationStatusNote" name="publicationStatusNote" placeholder="Publication Status Note" aria-labelledby="publicationStatusNoteLabel"
                      data-ng-model="context.publicationStatusNote" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                      data-kint-ui-input-feedback data-kint-validate></textarea>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-collapsible panel-default">
      <div class="panel-heading">
        <h3 data-toggle="collapse" data-target="#publicationOutput-body" aria-label="Expand/Collapse the main Publication Output content" id="publicationOutputHeading">Publication output details</h3>
      </div>
      <div id="publicationOutput-body" class="panel-body form-horizontal in" aria-labelledby="publicationOutputHeading">

        <div class="form-group form-group-sm" >
          <label id="outputTypeLabel" for="outputType" class="span-3 control-label" aria-label="Output Type">Output type</label>
          <div class="span-3">
            <kint-refdata-lookup name="outputType" id="outputType" data-object="context" data-property="outputType" class="form-control input-sm" required >
          </div>

          <label id="DOILabel" for="DOI" class="span-2 control-label" aria-label="DOI" >DOI</label>
          <div class="span-4">
            <div class="input-group input-group-sm">
              <kint-identifier data-property="identifiers" data-namespace="doi" class="form-control" data-ng-model="context.identifiers"
                id="DOI" name="DOI" aria-labelledby="DOILabel" disabled="disabled" ></kint-identifier>

              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button" title="Edit the DOI" data-ng-click="lookupDOI()" ><i class="glyphicon glyphicon-edit" ></i></button>
              </span>
            </div>
          </div>
        </div>

        <div class="form-group form-group-sm" >
          <label id="PMCIDLabel" for="PMCID" class="span-3 control-label" aria-label="PMCID" >PMCID</label>
          <div class="span-3">
            <kint-identifier data-property="identifiers" data-namespace="pmcid" class="form-control" data-ng-model="context.identifiers"
                id="PMCID" name="PMCID" aria-labelledby="PMCIDLabel" ></kint-identifier>
          </div>

          <label id="PMIDLabel" for="PMID" class="span-2 control-label" aria-label="PMID" >PMID</label>
          <div class="span-4">
            <kint-identifier data-property="identifiers" data-namespace="pmid" class="form-control" data-ng-model="context.identifiers"
              id="PMID" name="PMID" aria-labelledby="PMIDLabel" ></kint-identifier>
          </div>
        </div>

        <div class="form-group form-group-sm" >
          <label id="localReferenceLabel" for="localReference" class="span-3 control-label" aria-label="Local Reference">Local reference</label>
          <div class="span-9">
            <input type="text" class="form-control" id="localReference" name="localReference" placeholder="Local Reference" aria-labelledby="localReferenceLabel"
                   data-ng-model="context.localReference" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                   data-kint-ui-input-feedback data-kint-validate />
          </div>
        </div>

        <div class="form-group form-group-sm" data-ng-class="{'has-error': (academicOutput.name.$dirty && academicOutput.name.$invalid), 'has-success': (academicOutput.name.$dirty && academicOutput.name.$valid)}" >
          <label id="nameLabel" for="name" class="span-3 control-label" aria-label="Publication Title" >Title</label>
          <div class="span-9">
            <textarea class="form-control" id="name" name="name" placeholder="Publication Title" aria-labelledby="nameLabel"
                      data-ng-model="context.name" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                      data-kint-ui-input-feedback data-kint-validate required></textarea>

            <div data-ng-if="academicOutput.name.$dirty" data-ng-messages="academicOutput.name.$error" class="help-block" role="alert">
              <p data-ng-message="required">Please enter a name</p>
              <p data-ng-message="kintValidate">{{academicOutput.name.kintValidate.message}}</p>
            </div>
          </div>
        </div>

        <div class="form-group form-group-sm" >
          <label id="authorNameListLabel" for="authorNameList" class="span-3 control-label" aria-label="Author Name List" >Author name list</label>
          <div class="span-9">
            <textarea class="form-control" id="authorNameList" name="authorNameList" placeholder="Author Name List" aria-labelledby="authorNameListLabel"
                      data-ng-model="context.authorNameList" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                      data-kint-ui-input-feedback data-kint-validate ></textarea>
          </div>
        </div>

      </div>
    </div>

    <div class="panel panel-collapsible panel-default" ng-if="context.outputType.value == 'Journal Article'">
      <div class="panel-heading">
        <h3 data-toggle="collapse" data-target="#journalDetails-body" aria-label="Expand/Collapse the main Journal Details content" id="journalDetailsHeading">Journal details</h3>
      </div>
      <div id="journalDetails-body" class="panel-body form-horizontal in" aria-labelledby="journalDetailsHeading">

        <div class="form-group form-group-sm" >
          <label id="journalISSNLabel" for="journalISSN" class="span-3 control-label" aria-label="ISSN" >ISSN</label>
          <div class="span-4">
            <kint-identifier id="journalISSN" name="journalISSN" data-property="identifiers" data-namespace="issn"
                class="form-control" data-ng-model="context.identifiers" aria-labelledby="journalISSNLabel" ></kint-identifier>
          </div>

          <label id="journaleISSNLabel" for="journaleISSN" class="span-1 control-label" aria-label="eISSN" >eISSN</label>
          <div class="span-4">
            <kint-identifier id="journaleISSN" name="journaleISSN" data-property="identifiers" data-namespace="eissn"
              class="form-control" data-ng-model="context.identifiers" aria-labelledby="journaleISSNLabel" ></kint-identifier>
          </div>
        </div>
        <div class="form-group form-group-sm" >
          <label id="journalPublicationTitleLabel" for="journalPublicationTitle" class="span-3 control-label" aria-label="Publication Title">Journal title</label>
          <div class="span-9">
            <input type="text" class="form-control" id="journalPublicationTitle" name="journalPublicationTitle" placeholder="Publication title" aria-labelledby="journalPublicationTitleLabel"
                   data-ng-model="context.publicationTitle" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                   data-kint-ui-input-feedback data-kint-validate />
          </div>
        </div>

        <div class="form-group form-group-sm" >
          <label id="journalPublisherLabel" for="journalPublisher" class="span-3 control-label" aria-label="Publisher">Publisher</label>
          <div class="span-5">
            <kint-component-lookup name="journalPublisher" id="journalPublisher" data-object="context" data-property="publisher"
              class="form-control input-sm" data-params="{ match:['name'], perPage: 25, filters: ['type.value=Publisher']  }" ></kint-component-lookup>
          </div>
        </div>

        <div class="form-group form-group-sm" >
          <label id="journalIssueDateLabel" for="journalIssueDate" class="control-label span-3" aria-label="Journal issue" >Journal issue date</label>
          <div class="span-3">
            <input type="text" class="form-control" id="journalIssueDate" name="journalIssueDate" aria-labelledby="journalIssueDateLabel"
               data-ng-model="context.journalIssueDate" data-ng-model-options="{ updateOn: 'blur' }"
               data-kint-ui-input-feedback data-kint-validate />
          </div>

          <label id="journalVolumeLabel" for="journalVolume" class="span-1 control-label" aria-label="Journal Volume">Volume</label>
          <div class="span-1">
            <input type="text" class="form-control" id="journalVolume" name="journalVolume" placeholder="Volume" aria-labelledby="journalVolumeLabel"
                   data-ng-model="context.journalVolume" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                   data-kint-ui-input-feedback data-kint-validate />
          </div>

          <label id="journalIssueLabel" for="journalIssue" class="span-1 control-label" aria-label="Journal Issue">Issue</label>
          <div class="span-1">
            <input type="text" class="form-control" id="journalIssue" name="journalIssue" placeholder="Issue" aria-labelledby="journalIssueLabel"
                   data-ng-model="context.journalIssue" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                   data-kint-ui-input-feedback data-kint-validate />
          </div>

          <label id="journalPagesLabel" for="journalPages" class="span-1 control-label" aria-label="Journal Pages">Pages</label>
          <div class="span-1">
            <input type="text" class="form-control" id="journalPages" name="journalPages" placeholder="Pages" aria-labelledby="journalPagesLabel"
                   data-ng-model="context.journalPages" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                   data-kint-ui-input-feedback data-kint-validate />
          </div>

        </div>

        <div class="form-group form-group-sm" >
          <label id="journalOpenAccessStatusLabel" for="journalOpenAccessStatus" class="span-3 control-label" aria-label="Open Access Status">Open access status</label>
          <div class="span-5">
            <kint-refdata-lookup name="journalOpenAccessStatus" id="journalOpenAccessStatus" data-object="context" data-property="openAccessStatus" class="form-control input-sm" >
          </div>
        </div>

      </div>
    </div>

    <div class="panel panel-collapsible panel-default" ng-if="context.outputType.value == 'Conference Paper'">
      <div class="panel-heading">
        <h3 data-toggle="collapse" data-target="#conferenceDetails-body" aria-label="Expand/Collapse the main Conference Details content" id="conferenceDetailsHeading">Conference details</h3>
      </div>
      <div id="conferenceDetails-body" class="panel-body form-horizontal in" aria-labelledby="conferenceDetailsHeading">

        <div class="form-group form-group-sm" >
          <label id="conferenceISSNLabel" for="conferenceISSN" class="span-3 control-label" aria-label="ISSN" >ISSN</label>
          <div class="span-4">                   
            <kint-identifier id="conferenceISSN" name="conferenceISSN" data-property="identifiers" data-namespace="issn"
              class="form-control" data-ng-model="context.identifiers" aria-labelledby="conferenceISSNLabel" ></kint-identifier>
          </div>

          <label id="conferenceeISSNLabel" for="conferenceeISSN" class="span-1 control-label" aria-label="eISSN" >eISSN</label>
          <div class="span-4">                   
            <kint-identifier id="conferenceeISSN" name="conferenceeISSN" data-property="identifiers" data-namespace="eissn"
              class="form-control" data-ng-model="context.identifiers" aria-labelledby="conferenceeISSNLabel" ></kint-identifier>
          </div>
        </div>


        <div class="form-group form-group-sm" >
          <label id="conferencePublicationTitleLabel" for="conferencePublicationTitle" class="span-3 control-label" aria-label="Publication Title">Conference title</label>
          <div class="span-9">
            <input type="text" class="form-control" id="conferencePublicationTitle" name="conferencePublicationTitle" placeholder="Publication title" aria-labelledby="conferencePublicationTitleLabel"
                   data-ng-model="context.publicationTitle" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                   data-kint-ui-input-feedback data-kint-validate />
          </div>
        </div>

        <div class="form-group form-group-sm" >
          <label id="conferencePublisherLabel" for="conferencePublisher" class="span-3 control-label" aria-label="Publisher">Publisher</label>
          <div class="span-5">
             <kint-component-lookup name="conferencePublisher" id="conferencePublisher" data-object="context" data-property="publisher"
                class="form-control input-sm" data-params="{ match:['name'], perPage: 25, filters: ['type.value=Publisher']  }" ></kint-component-lookup>
          </div>
        </div>

        <div class="form-group form-group-sm" >
          <label id="conferencePublicationPlaceLabel" for="conferencePublicationPlace" class="span-3 control-label" aria-label="Place of Publication">Place of publication</label>
          <div class="span-9">
            <input type="text" class="form-control" id="conferencePublicationPlace" name="conferencePublicationPlace" placeholder="Place of publication" aria-labelledby="conferencePublicationPlaceLabel"
               data-ng-model="context.publicationPlace" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
               data-kint-ui-input-feedback data-kint-validate />
          </div>
        </div>

        <div class="form-group form-group-sm" >
          <label id="conferenceStartDateLabel" for="conferenceStartDate" class="control-label span-3" aria-label="Conference start date" >Conference start date</label>
          <div class="span-3">
            <div class="input-group input-group-sm date" data-datetimepicker >
              <input type="text" class="form-control" id="conferenceStartDate" name="conferenceStartDate" aria-labelledby="conferenceStartDateLabel"
                     data-ng-model="context.conferenceStartDate" data-ng-model-options="{ updateOn: 'blur' }"
                     data-kint-ui-input-feedback data-kint-validate />
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </div>

          <label id="conferenceEndDateLabel" for="conferenceEndDate" class="control-label span-3" aria-label="Conference end date" >Conference end date</label>
          <div class="span-3">
            <div class="input-group input-group-sm date" data-datetimepicker >
              <input type="text" class="form-control" id="conferenceEndDate" name="conferenceEndDate" aria-labelledby="conferenceEndDateLabel"
                     data-ng-model="context.conferenceEndDate" data-ng-model-options="{ updateOn: 'blur' }"
                     data-kint-ui-input-feedback data-kint-validate />
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </div>
        </div>

        <div class="form-group form-group-sm" >
          <label id="conferenceOrgLabel" for="conferenceOrg" class="span-3 control-label" aria-label="Conference Organisation">Conference Organisation</label>
          <div class="span-5">
            <input type="text" class="form-control" id="conferenceOrg" name="conferenceOrg" placeholder="Conference Organisation" aria-labelledby="conferenceOrgLabel"
                   data-ng-model="context.conferenceOrg" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                   data-kint-ui-input-feedback data-kint-validate />
          </div>
        </div>

        <div class="form-group form-group-sm" >
          <label id="conferenceOpenAccessStatusLabel" for="conferenceOpenAccessStatus" class="span-3 control-label" aria-label="Open Access Status">Open access status</label>
          <div class="span-5">
            <kint-refdata-lookup name="conferenceOpenAccessStatus" id="conferenceOpenAccessStatus" data-object="context" data-property="openAccessStatus" class="form-control input-sm" ></kint-refdata-lookup>
          </div>
        </div>

      </div>
    </div>

    <div class="panel panel-collapsible panel-default">
      <div class="panel-heading">
        <h3 data-toggle="collapse" data-target="#licenceApplied-body" aria-label="Expand/Collapse the main Licence Applied content" id="licenceAppliedHeading">Publication Licence Applied</h3>
      </div>
      <div id="licenceApplied-body" class="panel-body form-horizontal in" aria-labelledby="licenceAppliedHeading">

        <div class="form-group form-group-sm" >
          <label id="licenceAppliedLabel" for="licenceApplied" class="span-3 control-label" aria-label="Publisher">Publication licence applied</label>
          <div class="span-5">
            <kint-refdata-lookup name="licenceApplied" id="licenceApplied" data-object="context" data-property="licence" class="form-control input-sm" ></kint-refdata-lookup>
          </div>
        </div>

        <h4 id="licenceAppliedEvidenceHeading">Evidence</h4>

        <form id="licenceEvidence" name="licenceEvidence" class="table-responsive" >
          <ng-include src="'components/academic-output/partials/_table_compliance_evidence.html'" ></ng-include>
        </form>

      </div>
    </div>

    <div class="panel panel-collapsible panel-default">
      <div class="panel-heading">
        <h3 data-toggle="collapse" data-target="#embargoApplied-body" aria-label="Expand/Collapse the main Embargo Applied content" id="embargoAppliedHeading">Embargo Period Applied</h3>
      </div>
      <div id="embargoApplied-body" class="panel-body form-horizontal in" aria-labelledby="embargoAppliedHeading">

        <div class="form-group form-group-sm" >
          <label id="embargoPeriodLabel" for="embargoPeriod" class="span-3 control-label" aria-label="Embargo Period">Embargo period (months)</label>
          <div class="span-3">
            <input type="number" class="form-control" id="embargoPeriod" name="embargoPeriod" placeholder="0" aria-labelledby="embargoPeriodLabel"
                   data-ng-model="context.embargoPeriod" data-ng-model-options="{ updateOn: 'default blur', debounce: { default: 650, blur: 0} }"
                   step="1" min="0" data-kint-ui-input-feedback required />
          </div>

          <label id="embargoEndDateLabel" for="embargoEndDate" class="control-label span-3" aria-label="Embargo end date" >Embargo end date</label>
          <div class="span-3">
            <div class="input-group input-group-sm date" data-datetimepicker >
              <input type="text" class="form-control" id="embargoEndDate" name="embargoEndDate" aria-labelledby="embargoEndDateLabel"
                     data-ng-model="context.embargoEndDate" data-ng-model-options="{ updateOn: 'default blur', debounce: { default: 650, blur: 0} }"
                     data-kint-ui-input-feedback data-kint-validate />
              <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
            </div>
          </div>
        </div>

        <h4 id="embargoAppliedEvidenceHeading">Evidence</h4>

        <form id="embargoEvidence" name="embargoEvidence" class="table-responsive" >
          <ng-include src="'components/academic-output/partials/_table_compliance_evidence.html'" ></ng-include>
        </form>

      </div>
    </div>

    <div class="panel panel-collapsible panel-default">
      <div class="panel-heading">
        <h3 data-toggle="collapse" data-target="#acknowledgement-body" aria-label="Expand/Collapse the main Funder Acknowledgement content" id="acknowledgementHeading">Funder Acknowledgement</h3>
      </div>
      <div id="acknowledgement-body" class="panel-body form-horizontal in" aria-labelledby="acknowledgementHeading">

        <div class="form-group form-group-sm" >
          <label id="acknowledgementLabel" for="acknowledgement" class="span-3 control-label" aria-label="Acknowledgement">Acknowledgement is present?</label>
          <div class="span-5">
            <kint-refdata-lookup name="acknowledgement" id="acknowledgement" data-object="context" data-property="acknowledgement" class="form-control input-sm" ></kint-refdata-lookup>
          </div>
        </div>

        <h4 id="acknowledgementEvidenceHeading">Evidence</h4>

        <form id="funderAcknowledgement" name="funderAcknowledgement" class="table-responsive" >
          <ng-include src="'components/academic-output/partials/_table_compliance_evidence.html'" ></ng-include>
        </form>

      </div>
    </div>

    <div class="panel panel-collapsible panel-default">
      <div class="panel-heading">
        <h3 data-toggle="collapse" data-target="#research-body" aria-label="Expand/Collapse the main Research Materials content" id="researchHeading">Research Materials Statement</h3>
      </div>
      <div id="research-body" class="panel-body form-horizontal in" aria-labelledby="researchHeading">

        <div class="form-group form-group-sm" >
          <label id="accessStatementLabel" for="accessStatement" class="span-3 control-label" aria-label="Access Statement">Access statement is present?</label>
          <div class="span-5">
            <kint-refdata-lookup name="accessStatement" id="accessStatement" data-object="context" data-property="accessStatement" class="form-control input-sm" ></kint-refdata-lookup>
          </div>
        </div>

        <h4 id="researchEvidenceHeading">Evidence</h4>

        <form id="researchEvidence" name="researchEvidence" class="table-responsive" >
          <ng-include src="'components/academic-output/partials/_table_compliance_evidence.html'" ></ng-include>
        </form>

      </div>
    </div>

    <div class="panel panel-collapsible panel-default">
      <div class="panel-heading">
        <h3 data-toggle="collapse" data-target="#deposit-body" aria-label="Expand/Collapse the main Deposit content" id="depositHeading">Deposit(s)</h3>
      </div>
      <div id="deposit-body" class="panel-body form-horizontal in" aria-labelledby="acknowledgementHeading">
        

        <div class="form-group form-group-sm" >
          <label id="depositedLabel" for="deposited" class="span-3 control-label" aria-label="Actual Deposited in Repository">Is Deposited</label>
          <div class="span-5">
            <kint-refdata-lookup name="deposited" id="deposited" data-object="context" data-property="deposited" class="form-control input-sm" ></kint-refdata-lookup>
          </div>
        </div>

        <h4 id="despositesHeading">Deposits</h4>
        
        <form id="depositForm" name="depositForm" class="table-responsive" >
          <ng-include src="'components/academic-output/partials/_table_deposit.html'" ></ng-include>
        </form>

      </div>
    </div>
    <div class="panel panel-collapsible panel-default">
      <div class="panel-heading">
        <h3 data-toggle="collapse" data-target="#allNotes-container" aria-label="Expand/Collapse notes" id="allNotesHeading">Notes</h3>
      </div>
      <div class="panel-body form-horizontal in" id="allNotes"  data-object="context" data-property="notes" aria-labelledby="allNotesHeading"
        kint-ui-notes blank="getBlank(notes)" type="publication" user="application.user" >
      </div>
    </div>
  </article>
</form>
