<form name="aoFinance" id="aoFinance" >
  <article data-ui-view>
    <div class="panel panel-collapsible panel-default" >
      <div class="panel-heading">
        <h3 data-toggle="collapse" data-target="#committedCosts" aria-label="Expand/Collapse the committed costs" id="committedCostsHeading">Committed Costs</h3>
      </div>
      <div id="committedCosts" name="committedCosts" class="panel-body in" aria-labelledby="committedCostsHeading" >
        <ng-include src="'components/academic-output/partials/_table_cost_items.html'" ></ng-include>
      </div>
    </div>
    
    <div class="panel panel-collapsible panel-default">
      <div class="panel-heading">
        <h3 data-toggle="collapse" data-target="#actualCosts" aria-label="Expand/Collapse the main actual costs" id="actualCostsHeading">Actual Costs</h3>
      </div>
      <div id="actualCosts" name="actualCosts" class="panel-body in" aria-labelledby="actualCostsHeading" >
        <ng-include src="'components/academic-output/partials/_table_cost_items_actual.html'" ></ng-include>
      </div>
    </div>
  </article>
</form>
