<table class="table table-striped table-hover table-condensed">
  <thead>
  <tr>
    <th>Primary Contact?</th>
    <th>Firstname</th>
    <th>Surname</th>
    <th>Role</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="aoName in people" ng-form="aoName{{$index}}" data-ng-init="person = aoName.person" data-ng-class="{'info' : aoName.keyContact}">
    <td>
      <span data-ng-if="aoName.keyContact === true" class="glyphicon glyphicon-star"></span>
      <a data-ng-if="aoName.keyContact === false" data-ng-click="makeKeyContact(aoName)" title="Set as primary contact" >
        <span class="glyphicon glyphicon-star-empty"></span>
      </a>
    </td>
    <td><a data-ui-sref="app.person.view ({id: person.id})" >{{person.firstName}}</a></td>
    <td><a data-ui-sref="app.person.view ({id: person.id})" >{{person.surname}}</a></td>
    <td>{{aoName.namerel.value}}</td>
    <td>
      <button type="button" ng-click="removeFrom('names', aoName)" class="btn btn-danger btn-sm" >Del</button>
    </td>
  </tr>
  </tbody>
</table>
