<td>
  <kint-component-lookup name="funder" id="funder" data-object="aoFunds" data-property="organisation" data-context-obj="context" data-context-path="funds.funder" class="form-control input-sm" >
</td>
<td>{{aoFunds.funder.fundingGroup}}</td>
<td>
  <kint-component-lookup name="grant" id="grant" data-object="aoFunds" data-property="AOGrant" data-context-obj="context" data-context-path="funds.grant" class="form-control input-sm" >
</td>
<td><input type="text" name="apcCharge" id="apcCharge" class="form-control input-sm" data-ng-model="aoFunds.apcCharge" data-kint-ui-input-feedback data-kint-validate /></td>
<td>
  <button type="button" ng-click="cancelEditMultiProperty('funds', $index)" class="btn btn-default btn-sm" >Cancel</button>
  <button type="button" ng-click="confirmEditMultiProperty('funds', $index)" class="btn btn-success btn-sm" >Save</button>
</td>
