<td class="span-2" >
  <kint-refdata-lookup name="publicationRoute" id="publicationRoute" data-object="costItem" data-property="category" data-context-obj="context" data-context-path="invoiceCosts.category" class="form-control input-sm" required >
</td>
<td class="info" >{{costItem.grossValue.currency}}</td>
<td class="info" >{{costItem.grossValue.value | number : 2}}</td>
<td class="info" >{{costItem.grossValueGBP.value | number : 2}}</td>
<td class="info" >{{costItem.tax.value | number : 2}}</td>
<td class="info" >{{costItem.grossValue.value - cost.tax.value | number : 2}}</td>
<td>{{costItem.budget.name}}</td>
<td>Invoice</td>
<td>Award</td>
<td>Pre pay</td>
<td>
  <button type="button" ng-click="cancelEditMultiProperty(costItem)" class="btn btn-default btn-sm" >Cancel</button>
  <button type="button" ng-click="confirmEditMultiProperty(costItem)" class="btn btn-success btn-sm" >Save</button>
</td>