<td>{{aoEmbargoEvidence.embargoEvidenceSource.value}}</td>
<td>{{aoEmbargoEvidence.embargoEvidenceFinder.value}}</td>
<td><a ng-href="http://{{ aoEmbargoEvidence.embargoEvidenceURL }}" target="_blank">{{aoEmbargoEvidence.embargoEvidenceURL}}</a></td>
<td></td>
<td>
  <button type="button" ng-click="editEmbargoEvidence(aoEmbargoEvidence)" class="btn btn-default btn-sm" >Edit</button>
  <button type="button" ng-click="removeFrom('embargoEvidence', aoEmbargoEvidence)" class="btn btn-danger btn-sm" >Del</button>
</td>
