<table class="table table-striped table-hover table-condensed">
  <thead>
  <tr>
    <th>Source</th>
    <th>Finder</th>
    <th>Location URL</th>
    <th>Note</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
  <tr ng-repeat="aoLicenceEvidence in context.licenceEvidence" ng-form="aoLicenceEvidence{{$index}}" ng-include="'components/academic-output/partials/_table_licence_evidence_row' + (aoLicenceEvidence['$editMode'] ? '_edit' : '') + '.html'" >
  </tr>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td>
      <button type="button" class="btn btn-warning btn-sm" ng-click="editEvidence('licenceEvidence', 'aoLicenceEvidence')" >Add</button>
    </td>
  </tr>
  </tbody>
</table>
