<section id="invoice-grid" class="inner">
  <form name="aoFinance" id="aoFinance" class="row" >
    <article data-ui-view>
      <div class="panel panel-collapsible panel-default">
        <div class="panel-heading">
          <h3 data-toggle="collapse" data-target="#mainPanel" aria-label="Expand/Collapse the main AO content" id="mainPanelHeading">Invoice Details</h3>
        </div>
        <div id="mainPanel" name="invoice" class="panel-body in" aria-labelledby="mainPanelHeading" >
        </div>
      </div>
    </article>
  </form>
</section>


<form data-editable-form name="aoEditCommittedCost" class="main-form css-form" role="form" data-onshow="masterCheck('academicOutput.costs')" data-oncancel="cancel('academicOutput.costs')" data-onaftersave="setTotals()" data-novalidate>
  <fieldset>
    <table class="table table-bordered table-striped">
      <thead>
        <tr class="active">
          <th>Category</th>
          <th class="info" >Curr</th>
          <th class="info text-right" >Gross</th>
          <th class="info text-right" >Gross GBP</th>
          <th class="info text-right" >Tax</th>
          <th class="info text-right" data-ng-show="!aoEditCommittedCost.$visible" >Net</th>
          <th>Budget</th>
          <th>Award</th>
          <th>Pre-pay</th>
          <th>Estimated</th>
          <th data-ng-show="aoEditCommittedCost.$visible" >Action</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="cost in academicOutput.costs | filter: { status: {value : 'Committed'}}">
          <td>
          <ui-select class="form-control input-sm" data-ng-show="aoEditCommittedCost.$visible || (cost.category && cost.category.length > 0)" data-ng-style="(!cost.category && cost.category.length == 0) ? {height: '29px;'} : {}" ng-model="cost.category" theme="select2" ng-disabled="!aoEditCommittedCost.$visible">
            <ui-select-match placeholder="Category...">
              {{$select.selected.value}}
            </ui-select-match>
            <ui-select-choices repeat="o in allCategory | filter: {value: $select.search}">
              <div data-ng-bind-html="o.value | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select><span data-ng-show="!aoEditCommittedCost.$visible" >{{cost.category.value}}</span></td>
          <td class="info" >{{cost.currency}}</td>
          <td class="info text-right" ><span data-e-step="0.01" data-e-class="form-control input-sm" data-editable-number="cost.grossValue" data-e-form="aoEditCommittedCost" > {{ cost.grossValue | number: 2 }} </span></td>
          <td class="info text-right" >{{ cost.grossValue | number: 2 }}</td>
          <td class="info text-right" ><span data-e-step="0.01" data-e-class="form-control input-sm" data-editable-number="cost.tax" data-e-form="aoEditCommittedCost" > {{ cost.tax | number:2 }} </span></td>
          <td class="info text-right" data-ng-show="!aoEditCommittedCost.$visible" >{{ (cost.grossValue - cost.tax ) | number : 2 }}</td>
          <td>
          <ui-select class="form-control input-sm" data-ng-show="aoEditCommittedCost.$visible"ng-model="cost.budget" theme="select2">
            <ui-select-match placeholder="Budget">
              {{$select.selected.name}}
            </ui-select-match>
            <ui-select-choices repeat="o in allBudget | filterOr: {name: $select.search, description: $select.search}">
              <div data-ng-bind-html="o.name | highlight: $select.search"></div>
              <div>
                <small data-ng-bind-html="o.description | highlight: $select.search" ></small>
              </div>
              <div>
                <small data-ng-bind-html="o.remainingFunds | number : 2" ></small>
              </div>
            </ui-select-choices>
          </ui-select><span data-ng-show="!aoEditCommittedCost.$visible" >{{cost.budget.name}}</span></td>
          <td>
          <ui-select class="form-control input-sm" data-ng-show="aoEditCommittedCost.$visible || (cost.awards && cost.awards.length > 0)" data-ng-style="(!cost.awards && cost.awards.length == 0) ? {height: '29px;'} : {}" multiple ng-model="cost.awards" theme="select2" ng-disabled="!aoEditCommittedCost.$visible">
            <ui-select-match placeholder="Award(s)">
              {{$item.value}}
            </ui-select-match>
            <ui-select-choices repeat="o in allAwards | filter: {value: $select.search}">
              <div data-ng-bind-html="o.value | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select></td>
          <td>
          <ui-select class="form-control input-sm" data-ng-show="aoEditCommittedCost.$visible || (cost.prepay && cost.prepay.length > 0)" data-ng-style="(!cost.prepay && cost.prepay.length == 0) ? {height: '29px;'} : {}" multiple tagging="createTag" ng-model="cost.prepay" theme="select2" ng-disabled="!aoEditCommittedCost.$visible">
            <ui-select-match placeholder="Prepay ref...">
              {{$item.value}}
            </ui-select-match>
            <ui-select-choices repeat="o in allPrepay | filter: {value: $select.search}">
              <div data-ng-bind-html="o.value | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select></td>
          <td>
          <ui-select class="form-control input-sm" data-ng-show="aoEditCommittedCost.$visible" ng-model="cost.estimated" theme="select2" ng-disabled="!aoEditCommittedCost.$visible">
            <ui-select-match placeholder="Estimated?">
              {{$select.selected.value}}
            </ui-select-match>
            <ui-select-choices repeat="o in allEstimated | filter: {value: $select.search}">
              <div data-ng-bind-html="o.value | highlight: $select.search"></div>
            </ui-select-choices>
          </ui-select><span data-ng-show="!aoEditCommittedCost.$visible" >{{cost.estimated.value}}</span></td>
          <td data-ng-show="aoEditCommittedCost.$visible" >
          <button type="button" data-ng-click="removeCost(cost)" class="btn btn-sm btn-danger pull-right">
            <i class="fa fa-trash-o" ></i>
          </button>
          <button type="button" data-ng-click="actualiseCost(cost)" class="btn-actualise btn btn-sm btn-warning pull-right">
            <i class="fa fa-files-o" ></i>
          </button></td>
        </tr>
        <tr class="text-right" >
          <td></td>
          <td class="info"></td>
          <td class="info" ><strong>Total</strong></td>
          <td class="info" ><strong data-ng-bind="totals.Committed.native | number: 2" ></strong></td>
          <td class="info" ><strong data-ng-bind="totals.Committed.tax | number: 2" ></strong></td>
          <td class="info" data-ng-show="!aoEditCommittedCost.$visible" ><strong data-ng-bind="totals.Committed.net | number: 2" ></strong></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td data-ng-show="aoEditCommittedCost.$visible" ></td>
        </tr>
      </tbody>
    </table>
    <!-- buttons -->
    <div class="btn-edit">
      <button type="button" class="btn btn-sm btn-default"
      data-ng-show="!aoEditCommittedCost.$visible" data-ng-click="aoEditCommittedCost.$show()">
        edit
      </button>
    </div>
    <div class="btn-form" data-ng-show="aoEditCommittedCost.$visible">
      <button type="button" data-ng-disabled="tableform.$waiting" data-ng-click="addCost('Committed')" class="btn btn-sm btn-default pull-right">
        add row
      </button>
      <button type="button" data-ng-disabled="tableform.$waiting" data-ng-click="aoEditCommittedCost.$save()" class="btn btn-sm btn-primary">
        save
      </button>
      <button type="button" data-ng-disabled="tableform.$waiting" data-ng-click="aoEditCommittedCost.$cancel()" class="btn btn-sm btn-default">
        cancel
      </button>
    </div>
  </fieldset>
</form>