<nav class="masthead__nav header___nav--primary" role="navigation"
	data-dropdown="">
	<ul>
		
		<li class="nav__item  "><a
			ui-sref="app.academicOutput.view">Academic Output</a></li>
	</ul>
</nav>
<nav class="masthead__nav masthead__nav--secondary" role="navigation"
	data-dropdown="">
	<ul>
		<li class="nav__item  has-popup"><a ui-sref="app.aboutView">About</a>
			<div class="submenu ">
				<ul>
					<li><a href="#">Example one</a></li>
					<li><a href="#">Example two</a></li>
					<li><a href="#">Example three</a></li>
				</ul>
			</div></li>
	</ul>
</nav>