<ul class="nav nav-tabs">
  <li role="presentation" data-ui-sref-active-eq="active" >
    <a data-ui-sref="app.academicOutput.view" >General</a>
  </li>
  <li role="presentation" data-ui-sref-active-eq="active" >
    <a data-ui-sref="app.academicOutput.view.people" >People</a>
  </li>
  <li role="presentation" data-ui-sref-active-eq="active" >
    <a data-ui-sref="app.academicOutput.view.publication" >Publication</a>
  </li>
  <li role="presentation" data-ui-sref-active-eq="active" >
    <a data-ui-sref="app.academicOutput.view.finance" >Finance</a>
  </li>
  <li role="presentation" data-ui-sref-active-eq="active" >
    <a data-ui-sref="app.academicOutput.view.compliance" >Compliance</a>
  </li>
  <li role="presentation" data-ui-sref-active-eq="active" class="pull-right" >
    <a data-ui-sref="app.academicOutput.view.all" >View all</a>
  </li>
</ul>
<section id="ao-grid" class="inner tab-content" data-ng-controller="AcademicOutputController">
  <form id="academicOutput" name="academicOutput" class="row" >
    <article class="span-12" data-ui-view>
      <div class="panel panel-collapsible panel-default">
        <div class="panel-heading">
          <h3 data-toggle="collapse" data-target="#academicOutputGeneral" aria-label="Expand/Collapse the main AO content" id="academicOutputHeading">Academic output details</h3>
        </div>
        <div id="academicOutputGeneral" class="panel-body form-horizontal in" aria-labelledby="academicOutputHeading">
          <div class="form-group form-group-sm" data-ng-class="{'has-error': (academicOutput.name.$dirty && academicOutput.name.$invalid), 'has-success': (academicOutput.name.$dirty && academicOutput.name.$valid)}" >
            <label id="nameLabel" for="name" class="span-3 control-label" aria-label="AO Name" data-kint-ui-help data-help-page="Academic-Output-Help" data-help-id="user-content-title" >Title*</label>
            <div class="span-9">
              <input type="text" class="form-control" id="name" name="name" placeholder="Academic output name" aria-labelledby="nameLabel"
              data-ng-model="context.name" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
              data-kint-ui-input-feedback data-kint-validate required />

              <div data-ng-if="academicOutput.name.$dirty" data-ng-messages="academicOutput.name.$error" class="help-block" role="alert">
                <p data-ng-message="required">
                  Please enter a name
                </p>
                <p data-ng-message="kintValidate">
                  {{academicOutput.name.kintValidate.message}}
                </p>
              </div>
            </div>
          </div>

          <div class="form-group form-group-sm" >
            <label id="personLabel" for="assignedTo" class="control-label span-3" aria-label="Person">Assigned to</label>
            <div class="span-5">
              <kint-component-lookup name="assignedTo" id="assignedTo" data-object="context" data-property="assignedTo" class="form-control input-sm"  data-params="{ match:['name'], perPage: 25 }" >
            </div>
          </div>

          <div class="form-group form-group-sm" >
            <label id="contactDateLabel" for="contactDate" class="control-label span-3" aria-label="Contact date" >Date contact made</label>
            <div class="span-3">
              <div class="input-group input-group-sm date" data-datetimepicker >
                <input type="text" class="form-control" id="contactDate" name="contactDate" aria-labelledby="contactDateLabel"
                data-ng-model="context.contactDate" data-ng-model-options="{ updateOn: 'blur' }"
                data-kint-ui-input-feedback data-kint-validate />
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </div>
          </div>

          <div class="form-group form-group-sm" data-ng-class="{'has-error': (academicOutput.publicationRoute.$dirty && academicOutput.publicationRoute.$invalid), 'has-success': (academicOutput.publicationRoute.$dirty && academicOutput.publicationRoute.$valid)}">
            <label id="publicationRouteLabel" for="publicationRoute" class="span-3 control-label" aria-label="AO Publication route">Publication route</label>
            <div class="span-9">
              <kint-refdata-lookup name="publicationRoute" id="publicationRoute" data-object="context" data-property="publicationRoute" class="form-control input-sm" >
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-collapsible panel-default">
        <div class="panel-heading">
          <h3 data-toggle="collapse" data-target="#academicOutputFunding" aria-label="Expand/Collapse the main Funding content" id="fundingHeading">Funding</h3>
        </div>

        <div id="academicOutputFunding" class="panel-body form-horizontal in" aria-labelledby="fundingHeading">
          <div class="form-group form-group-sm" >
            <label id="approvalLabel" for="approval" class="control-label span-3" aria-label="Approval">APC funding approval</label>
            <div class="span-3">
              <kint-refdata-lookup name="approval" id="approval" data-object="context" data-property="apcFundingApproval" class="form-control input-sm" >
            </div>

            <label id="decisionDateLabel" for="decisionDate" class="control-label span-3" aria-label="Decision date" >Date decision made</label>
            <div class="span-3">
              <div class="input-group input-group-sm date" data-datetimepicker >
                <input type="text" class="form-control" id="decisionDate" name="decisionDate" aria-labelledby="decisionDateLabel"
                data-ng-model="context.apcFundingDate" data-ng-model-options="{ updateOn: 'blur' }"
                data-kint-ui-input-feedback data-kint-validate />
                <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
              </div>
            </div>
          </div>

          <div class="form-group form-group-sm" >
            <label id="approvalNoteLabel" for="approvalNote" class="control-label span-3" aria-label="Approval Note" >APC funding approval note</label>
            <div class="span-9">
              <textarea type="text" class="form-control" id="approvalNote" name="approvalNote" placeholder="Approval Note" aria-labelledby="approvalNoteLabel"
                      data-ng-model="context.apcFundingNote" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                      data-kint-ui-input-feedback data-kint-validate></textarea>
            </div>
          </div>

          <h4 id="fundingAssignmentsHeading">Grant assignments</h4>

          <form id="fundingAssignments" name="fundingAssignments" class="table-responsive" >
            <ng-include src="'components/academic-output/partials/_table_funder.html'" ></ng-include>
          </form>

        </div>
      </div>

      <div class="panel panel-collapsible panel-default">
        <div class="panel-heading">
          <h3 data-toggle="collapse" data-target="#academicOutputSubmission" aria-label="Expand/Collapse the main Submission content" id="submissionHeading">Submission lifecycle</h3>
        </div>

        <div>
          <div id="academicOutputSubmission" class="panel-body form-horizontal in" aria-labelledby="submissionHeading">
            <div class="form-group form-group-sm" >
              <label id="submissionLabel" for="submission" class="control-label span-3" aria-label="Submission Status">Publisher Submission Status</label>
              <div class="span-3">
                <kint-refdata-lookup name="submission" id="submission" data-object="context" data-property="publisherSubmissionStatus" class="form-control input-sm" >
              </div>

              <label id="submissionDateLabel" for="submissionDate" class="control-label span-3" aria-label="Submission date" >Date submitted</label>
              <div class="span-3">
                <div class="input-group input-group-sm date" data-datetimepicker >
                  <input type="text" class="form-control" id="submissionDate" name="submissionDate" aria-labelledby="submissionDateLabel"
                  data-ng-model="context.publisherSubmissionDate" data-ng-model-options="{ updateOn: 'blur' }"
                  data-kint-ui-input-feedback data-kint-validate />
                  <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
              </div>
            </div>

            <div class="form-group form-group-sm" >
              <label id="submissionNoteLabel" for="submissionNote" class="control-label span-3" aria-label="Submission Note" >Submission notes</label>
              <div class="span-9" id="submissionNote"  data-object="context" data-property="notes" 
                kint-ui-notes blank="getBlank(notes)" type="general.submission" user="application.user" >
              </div>
            </div>

            <div class="form-group form-group-sm" >
              <label id="responseLabel" for="response" class="control-label span-3" aria-label="Response Status">Publisher Response</label>
              <div class="span-3">
                <kint-refdata-lookup name="response" id="response" data-object="context" data-property="publisherResponse" class="form-control input-sm" >
              </div>

              <div data-ng-if="context.publisherResponse.value == 'Accepted'">
                <label id="responseDateLabel" for="responseDate" class="control-label span-3" aria-label="Response date">Date accepted</label>
                <div class="span-3">
                  <div class="input-group input-group-sm date" data-datetimepicker>
                    <input type="text" class="form-control" id="responseDate" name="responseDate" aria-labelledby="responseDateLabel"
                    data-ng-model="context.publisherResponseDate" data-ng-model-options="{ updateOn: 'blur' }"
                    data-kint-ui-input-feedback data-kint-validate />
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group form-group-sm" >
              <label id="responseNoteLabel" for="responseNote" class="control-label span-3" aria-label="Response Note" >Response notes</label>
              <div class="span-9" id="responseNote"  data-object="context" data-property="notes" 
                kint-ui-notes blank="getBlank(notes)" type="general.response" user="application.user" >
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <div class="panel panel-collapsible panel-default">
        <div class="panel-heading">
          <h3 data-toggle="collapse" data-target="#allNotes-container" aria-label="Expand/Collapse the main AO content" id="allNotesHeading">Notes</h3>
        </div>
        <div class="panel-body form-horizontal in" id="allNotes"  data-object="context" data-property="notes" aria-labelledby="allNotesHeading"
          kint-ui-notes blank="getBlank(notes)" type="" user="application.user" >
        </div>
      </div>
    </article>

    <div class="form-group pull-right">
      <button type="button" class="btn btn-success" data-ng-click="saveChanges()" data-ng-disabled="!academicOutput.$dirty || academicOutput.$invalid" >
        Save
      </button>
      <button type="button" class="btn btn-link" data-ng-click="cancelChanges()" data-ng-disabled="!academicOutput.$dirty" >
        Cancel
      </button>
    </div>
  </form>
</section>
