<ul class="nav nav-tabs">
  <li role="presentation" ui-sref-active-eq="active" ><a ui-sref="app.academicOutput.view" >Main</a></li>
  <li role="presentation" ui-sref-active-eq="active" ><a ui-sref="app.academicOutput.view.people" >People</a></li>
  <li role="presentation" ui-sref-active-eq="active" ><a ui-sref="app.academicOutput.view.publication" >Publication</a></li>
  <li role="presentation" ui-sref-active-eq="active" ><a ui-sref="app.academicOutput.view.finance" >Finance</a></li>
  <li role="presentation" ui-sref-active-eq="active" ><a ui-sref="app.academicOutput.view.compliance" >Compliance</a></li>
  <li role="presentation" ui-sref-active-eq="active" class="pull-right" ><a ui-sref="app.academicOutput.view.all" >View all</a></li>
</ul>
<section id="ao-grid" class="inner tab-content">
   <div class="row" >
    <article class="span-12" ui-view>
      <div class="panel panel-collapsible panel-default">
        <div class="panel-heading">
          <h3 data-toggle="collapse" data-target="#ao-panel-main" aria-label="Expand/Collapse the main AO content" id="ao-panel-main-heading">Academic output details</h3>
        </div>
        <div id="ao-panel-main" name="ao-panel-main" class="panel-body form-horizontal in" aria-labelledby="ao-panel-main-heading">
          <div class="form-group">
            <label id="ao-name-label" for="ao-name" class="span-3 control-label" aria-label="AO Name">Name</label>
            <div class="span-9">
              <input ng-model="context.name" type="text" class="form-control" id="ao-name" placeholder="Acaademic output name" aria-labelledby="ao-name-label" />
            </div>
          </div>
          <div class="form-group">
            <label id="ao-pub-route-label" for="ao-pub-route" class="span-3 control-label" aria-label="AO Publication route">Publication route</label>
            <div class="span-9">
              <kint-refdata-lookup object="context" property="type" class="form-control" theme="select2" >
            </div>
          </div>
          <div class="form-group">
            <label id="ao-test-lookup-label" for="ao-test-lookup" class="span-3 control-label" aria-label="AO Test lookup">Test Lookup</label>
            <div class="span-9">
              <kint-component-lookup object="context" property="relatedTo" class="form-control" >
            </div>
          </div>
          <div class="form-group pull-right">
            <button type="button" class="btn btn-success" ng-click="saveChanges()">Save</button>
            <button type="button" class="btn btn-link">Cancel</button>
          </div>
        </div>
      </div>
    </article>
  </div>
</section>