<ul class="nav nav-tabs">
  <li role="presentation" data-ui-sref-active-eq="active" ><a data-ui-sref="app.academicOutput.view" >Main</a></li>
  <li role="presentation" data-ui-sref-active-eq="active" ><a data-ui-sref="app.academicOutput.view.people" >People</a></li>
  <li role="presentation" data-ui-sref-active-eq="active" ><a data-ui-sref="app.academicOutput.view.publication" >Publication</a></li>
  <li role="presentation" data-ui-sref-active-eq="active" ><a data-ui-sref="app.academicOutput.view.finance" >Finance</a></li>
  <li role="presentation" data-ui-sref-active-eq="active" ><a data-ui-sref="app.academicOutput.view.compliance" >Compliance</a></li>
  <li role="presentation" data-ui-sref-active-eq="active" class="pull-right" ><a data-ui-sref="app.academicOutput.view.all" >View all</a></li>
</ul>
<section id="ao-grid" class="inner tab-content">
   <div class="row" >
    <article class="span-12" data-ui-view>
      <div class="panel panel-collapsible panel-default">
        <div class="panel-heading">
          <h3 data-toggle="collapse" data-target="#ao-main" aria-label="Expand/Collapse the main AO content" id="ao-main-heading">Academic output details</h3>
        </div>
        <form id="aoMain" name="aoMain" class="panel-body form-horizontal in" aria-labelledby="ao-main-heading">
          <div class="form-group" data-ng-class="{'has-error': (aoMain.aoName.$dirty && aoMain.aoName.$invalid), 'has-feedback': (aoMain.aoName.$dirty), 'has-success': (aoMain.aoName.$dirty && aoMain.aoName.$valid) } ">
            <label id="ao-name-label" for="ao-name" class="span-3 control-label" aria-label="AO Name" >Name</label>
            <div class="span-9">
              <input data-ng-model="context.name" data-ng-model-options="{ updateOn: 'default blur', debounce: { default: 650, blur: 0 } }"
                  type="text" class="form-control" id="aoName" name="aoName" placeholder="Acaademic output name" aria-labelledby="ao-name-label" aria-describedby="aoNameStatus" data-kint-validate required />
              <span data-ng-if="aoMain.aoName.$dirty" class="glyphicon form-control-feedback" data-ng-class="{'glyphicon-ok': (aoMain.aoName.$valid), 'glyphicon-remove': (aoMain.aoName.$invalid)}" aria-hidden="true"></span>
              <span data-ng-if="aoMain.aoName.$dirty"  id="aoNameStatus" class="sr-only">{{aoMain.aoName.$invalid ? 'invalid' : 'valid' }}</span>
              <div data-ng-messages="aoMain.aoName.$error" class="help-block" role="alert">
                <p data-ng-message="required">Please enter a name</p>
                <p data-ng-message="kintValidate">{{aoMain.aoName.kintValidate.message}}</p>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label id="ao-pub-route-label" for="ao-pub-route" class="span-3 control-label" aria-label="AO Publication route">Publication route</label>
            <div class="span-9">
              <kint-refdata-lookup name="ao-pub-route" id="ao-pub-route" data-object="context" data-property="type" class="form-control" theme="select2" >
            </div>
          </div>
          <div class="form-group">
            <label id="ao-test-lookup-label" for="ao-test-lookup" class="span-3 control-label" aria-label="AO Test lookup">Test Lookup</label>
            <div class="span-9">
              <kint-component-lookup name="ao-test-lookup" id="ao-test-lookup" data-object="context" data-property="relatedTo" class="form-control" >
            </div>
          </div>
          <div class="form-group pull-right">
            <button type="button" class="btn btn-success" data-ng-click="saveChanges()" data-ng-disabled="aoMain.$invalid" >Save</button>
            <button type="button" class="btn btn-link" >Cancel</button>
          </div>
        </form>
      </div>
    </article>
  </div>
</section>