.panel-collapsible {
  .panel-heading > *:first-child {
    
    font-size: 1.1em;
    margin:0;
    padding:0;
    cursor: pointer;
    
    &:after {
      font-family:'Glyphicons Halflings';
      content:"\e113";
      float: right;
      color: grey;
      &:hover,
      &:active,
      &focus {
        cursor: pointer;
      }
    }
    
    &.collapsed:after {
      content:"\e114";
    }
  }
}