.panel-collapsible {
  .panel-heading > *:first-child {
    
    font-size: 1.1em;
    margin:0;
    padding:0;
    cursor: pointer;
      background: none;
      border: none;
      font-size: 1.2em;
    
    &:after {
      font-family:'Glyphicons Halflings';
      content:"\e113";
      float: right;
      color: $jCopyB;
      font-size: 0.8em;
      opacity: 0.8;
      &:hover,
      &:active,
      &focus {
        cursor: pointer;
        opacity: 1;
      }
    }
    
    &.collapsed:after {
      content:"\e114";
    }
  }
}