<div class="modal-header">
  <h3 class="modal-title">Edit Contact Details</h3>
</div>

<div class="modal-body">
  <form id="contactDetailsForm" name="contactDetailsForm" novalidate class="simple-form form-horizontal" role="form" >

    <div class="form-group">
      <label id="organisationLabel" for="organisation" class="span-3 control-label" >Organisation*</label>
      <div class="span-9">
        <kint-component-lookup name="organisation" id="organisation" data-object="contactDetails" data-property="organisation"
          data-params="{ match:['name'], perPage: 25 }"
          data-context-obj="context" data-context-path="personContactDetails.organisation" class="form-control input-sm" required></kint-component-lookup>
      </div>
    </div>

    <div class="form-group">
      <label id="departmentLabel" for="department" class="span-3 control-label" >Department*</label>
      <div class="span-9">
        <kint-refdata-lookup name="department" id="department" data-object="contactDetails" data-property="department" aria-labelledby="departmentLabel"
          data-context-obj="context" data-context-path="personContactDetails.department" class="form-control" tagging ></kint-refdata-lookup>
      </div>
    </div>

    <div class="form-group">
      <label id="divisionLabel" for="division" class="span-3 control-label" >Division</label>
      <div class="span-9">
        <kint-refdata-lookup name="division" id="division" data-object="contactDetails" data-property="division" aria-labelledby="divisionLabel"
          data-context-obj="context" data-context-path="personContactDetails.division" class="form-control" tagging ></kint-refdata-lookup>
      </div>
    </div>

    <div class="form-group">
      <label id="jobTitleLabel" for="jobTitle" class="span-3 control-label" aria-label="Contact Details Job Title" >Position/ Job title</label>
      <div class="span-9">
        <input type="text" class="form-control" id="jobTitle" name="jobTitle" placeholder="Position/ Job title" aria-labelledby="jobTitleLabel"
               data-ng-model="contactDetails.jobTitle"  />
      </div>
    </div>

    <div class="form-group">
      <label id="emailAddressLabel" for="emailAddress" class="span-3 control-label" aria-label="Email Address" >Primary email address</label>
      <div class="span-9">
        <input type="text" class="form-control" id="emailAddress" name="emailAddress" placeholder="Primary email address" aria-labelledby="emailAddressLabel"
               data-ng-model="contactDetails.emailAddress" data-ng-model-options="{ updateOn: 'default blur', debounce: { default: 650, blur: 0} }"
               data-kint-ui-input-feedback />
      </div>
    </div>

    <div class="form-group">
      <label id="telephoneNumberLabel" for="telephoneNumber" class="span-3 control-label" aria-label="Telephone Number" >Primary telephone</label>
      <div class="span-9">
        <input type="text" class="form-control" id="telephoneNumber" name="telephoneNumber" placeholder="Primary telephone" aria-labelledby="telephoneNumberLabel"
               data-ng-model="contactDetails.telephoneNumber" data-ng-model-options="{ updateOn: 'default blur', debounce: { default: 650, blur: 0} }"
               data-kint-ui-input-feedback />
      </div>
    </div>

    <div class="form-group">
      <div class="span-12" >
        <button type="button" ng-click="$dismiss(contactDetails)" class="btn btn-default btn-sm" >
          Cancel
        </button>
        <button type="button" ng-click="$close(contactDetails)" class="btn btn-success btn-sm"  data-ng-disabled="!contactDetailsForm.$dirty || contactDetailsForm.$invalid" >
          Save
        </button>
      </div>
    </div>
  </form>
</div>

