<table class="table table-striped table-hover table-condensed" data-ng-controller="PersonController" >
  <thead>
  <tr>
    <th>Org</th>
    <th>Dept</th>
    <th>Division</th>
    <th>Position/Job Title</th>
    <th>Primary email</th>
    <th>Primary telephone</th>
    <th>Action</th>
  </tr>
  </thead>

  <tbody>
    <tr ng-repeat="contactDetails in context.personContactDetails" ng-form="contactDetails{{$index}}" ng-include="'components/person/partials/_table_contact_details_row.html'" >
    </tr>
    <tr>
      <td colspan="6"></td>
      <td>
        <button type="button" class="btn btn-warning btn-sm" ng-click="editContactDetails('personContactDetails', 'contactDetails')" >Add</button>
      </td>
    </tr>
  </tbody>
</table>
