<td>{{contactDetails.organisation.name}}</td>
<td>{{contactDetails.department.value}}</td>
<td>{{contactDetails.division.value}}</td>
<td>{{contactDetails.jobTitle}}</td>
<td><a ng-href="mailto:{{ contactDetails.emailAddress }}">{{contactDetails.emailAddress}}</a></td>
<td>{{contactDetails.telephoneNumber}}</td>
<td>
  <button type="button" ng-click="editContactDetails(contactDetails)" class="btn btn-default btn-sm" >Edit</button>
  <button type="button" ng-click="removeFrom('personContactDetails', contactDetails)" class="btn btn-danger btn-sm" >Del</button>
</td>
