<section id="person-grid" class="inner tab-content">
  <form id="person" name="person" class="row" >
    <article class="span-12" data-ui-view>
      <div class="panel panel-collapsible panel-default">
        <div class="panel-heading">
          <h3 data-toggle="collapse" data-target="#person-body" aria-label="Expand/Collapse the main Person content" id="person-heading">Person details</h3>
        </div>
        <div id="person-body" class="panel-body form-horizontal in" aria-labelledby="person-heading">

          <div class="form-group form-group-sm">
            <div class="span-4">
            <label id="personIdLabel" for="personId" class="control-label" aria-label="Person ID">Person ID</label>
              <input type="text" class="form-control" id="personId" name="personId" aria-labelledby="personIdLabel" disabled="true"
                     data-ng-model="context.id" data-kint-validate />
            </div>

            <div class="span-4">
            <label id="orcIdLabel" for="orcId" class="control-label" aria-label="ORCID">ORCID</label>
              <input type="text" class="form-control" id="orcId" name="orcId" aria-labelledby="orcIdLabel"
                     data-ng-model="context.orcId" data-kint-validate />
            </div>
          </div>

          <div class="form-group form-group-sm">
            <div class="span-4" data-ng-class="{'has-error': (person.title.$dirty && person.title.$invalid), 'has-success': (person.title.$dirty && person.title.$valid)}">
              <label id="titleLabel" for="title" class="control-label" aria-label="Title">Title</label>
              <kint-refdata-lookup name="title" id="title" data-object="context" data-property="title" class="form-control input-sm" required >
            </div>

            <div class="span-4">
            <label id="firstNameLabel" for="firstName" class="control-label" aria-label="Person First Name" >First Name(s)*</label>
              <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First name(s)" aria-labelledby="firstNameLabel"
                     data-ng-model="context.firstName" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                     data-kint-ui-input-feedback data-kint-validate required />
              <div data-ng-if="person.firstName.$dirty" data-ng-messages="person.firstName.$error" class="help-block" role="alert">
                <p data-ng-message="required">Please enter a first name</p>
                <p data-ng-message="kintValidate">{{person.firstName.kintValidate.message}}</p>
              </div>
            </div>

            <div class="span-4">
              <label id="surnameLabel" for="surname" class="control-label" aria-label="Person Surname" >Surname*</label>
              <input type="text" class="form-control" id="surname" name="surname" placeholder="Surname" aria-labelledby="surnameLabel"
                     data-ng-model="context.surname" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                     data-kint-ui-input-feedback data-kint-validate required />
              <div data-ng-if="person.surname.$dirty" data-ng-messages="person.surname.$error" class="help-block" role="alert">
                <p data-ng-message="required">Please enter a surname</p>
                <p data-ng-message="kintValidate">{{person.surname.kintValidate.message}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </article>

    <div class="form-group pull-right">
      <button type="button" class="btn btn-success" data-ng-click="saveChanges()" data-ng-disabled="person.$invalid" >Save</button>
      <button type="button" class="btn btn-link" >Cancel</button>
    </div>

    <ng-include src="'components/person/partials/_contact_details.html'" ></ng-include>

  </form>
</section>
