<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <meta http-equiv="cleartype" content="on" >
    
    <!-- Include requirejs -->
    <script src="bower_components/requirejs/require.js"></script>
    
      <!-- build:css({.,app}) styles/vendor.css -->
      <link rel="stylesheet" href="styles/select2.css">
      <link rel="stylesheet" href="bower_components/datatables.net-bs/css/dataTables.bootstrap.css">
      <link rel="stylesheet" href="bower_components/angular-xeditable/dist/css/xeditable.css">
      <link rel="stylesheet" href="bower_components/ui-select/dist/select.min.css">
      <link rel="stylesheet" href="bower_components/pnotify/dist/pnotify.css">
      <link rel="stylesheet" href="bower_components/pnotify/dist/pnotify.buttons.css">
      <link rel="stylesheet" href="bower_components/pnotify/dist/pnotify.history.css">
      <link rel="stylesheet" href="bower_components/pnotify/dist/pnotify.mobile.css">
    <!-- endbuild -->
    
    <!-- build:css(.tmp) styles/app.css -->
      <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
      <script src="scripts/rconfig.js"></script>
      <script src="scripts/app-bootstrap.js"></script>
    <!-- endbuild -->
    
    <title>{{$state.current.data.title}}</title>
  </head>
  <body class="{{bodyClasses ? bodyClasses : ''}}" data-ui-view='app' >
    <header class="site-header">
      <div class="masthead" role="banner" >
        <div class="inner">
          <a class="visuallyhidden" href="#main" tabindex="1" target="_self" >
            <span>Skip to main content</span>
          </a>
          <a class="logo" href="//jisc.ac.uk">
            <img alt="Jisc logo" src="images/jisc-logo.png">
          </a>
          <div class="title-nav">
            <a data-ui-sref="app.dash" >Monitor Local <span class="badge">alpha</span></a>
          </div>
        </div>
      </div>
    </header>
    <div class="inner">
      <asside class="side-nav" >
        <nav role="navigation" data-ui-view="nav" >
          <ul>
            <li class="parent active"><a data-ui-sref="app.academicOutput">Academic Output</a></li>
          </ul>
        </nav>
      </asside>
      <div class="crumb-wrapper" data-ui-view='breadcrumb' role="navigation" ><ol class="breadcrumb" >
        <li data-ng-repeat="(index, crumb) in crumb_trail" data-ng-switch="crumb.uri" data-ng-class="{active: (index == (crumb_trail.length -1))}" >
          <span data-ng-switch-when="undefined" title="{{crumb.title}}">{{crumb.title}}</span>
          <a data-ng-switch-default href="{{crumb.uri}}" title="{{crumb.title}}" >{{crumb.title}}</a>
        </li>
      </ol></div>
      <main role="main" id="main">
        <h1>{{title}}<span data-ng-if="!secondaryTitle && subTitle">: <small>{{subTitle}}</small></span></h1>
        <h2 data-ng-if="secondaryTitle" >{{secondaryTitle}}<span data-ng-if="subTitle">: <small>{{subTitle}}</small></span></h2>
        <div class="notifications" ></div>
        <div class="inner" data-ui-view>
        </div>
        <!-- .inner -->
      </main>
      <!--/ main -->
    </div>
    <!--/ .inner -->
  </body>
</html>
