<table class="table table-striped table-hover" data-ng-init="tableTotals = {}">
  <thead>
    <tr>
      <th>Cat</th>
      <th class="info" >Curr</th>
      <th class="info" data-ng-init="tableTotals['gross'] = 0" >Gross</th>
      <th class="info" data-ng-init="tableTotals['gross-gbp'] = 0" >Gross GBP</th>
      <th class="info" data-ng-init="tableTotals['tax'] = 0" >Tax</th>
      <th class="info" data-ng-init="tableTotals['net'] = 0" >NET</th>
      <th>Budget</th>
      <th>Academic output</th>
      <th>Grants</th>
      <th>Pre pay</th>
      <th>Action</th>
    </tr>
  </thead>
  
  <tbody>
    <tr ng-repeat="costItem in context.invoiceCosts" ng-form="costItem{{$index}}" ng-include="'components/invoice/partials/_table_cost_items_row.html'" >
    </tr>
    <tr>
      <td></td>
      <td class="info" >Totals</td>
      <td class="info" data-ng-bind="tableTotals['gross'] | number : 2" ></td>
      <td class="info" data-ng-bind="tableTotals['gross-gbp'] | number : 2" ></td>
      <td class="info" data-ng-bind="tableTotals['tax'] | number : 2" ></td>
      <td class="info" data-ng-bind="tableTotals['net'] | number : 2" ></td>
      <td colspan="4" ></td>
      <td>
        <button type="button" class="btn btn-warning btn-sm" ng-click="addBlank('invoiceCosts')" >Add</button>
      </td>
    </tr>
  </tbody>
</table>