<td>{{costItem.category.value}}</td>
<td class="info" >{{costItem.currency}}</td>
<td class="info" >{{costItem.grossValue.value | number : 2}}</td>
<td class="info" >{{costItem.grossValueGBP.value | number : 2}}</td>
<td class="info" >{{costItem.tax.value | number : 2}}</td>
<td class="info" >{{costItem.net.value | number : 2}}</td>
<td>{{costItem.academicOutput.name}}</td>
<td>{{costItem.budget.name}}</td>
<td>{{costItem.payee}}</td>
<td>{{costItem.purchaseOrder}}</td>
<td>
  <button type="button" ng-click="editCost(costItem)" class="btn btn-default btn-sm" >Edit</button>
  <button type="button" ng-click="removeFrom('invoiceCosts', costItem)" class="btn btn-danger btn-sm" >Del</button>
</td>
