<p class="lead">Beta test users should use the Google login below.</p>
<p>UK Federation will be available at launch (Ideally shortly before).</p>
<p>Monitor local will use shibboleth based identity providers at full launch.</p>
<p>Until then, we're busy with core functions and getting the servers configured.</p>
<ul class="sign-in-buttons">
  <li><button class="btn btn-success" ng-click="authenticate('google')">Login using your Google account</button></li>
  <!-- li> <button class="btn btn-danger" ng-click="authenticate('sob')"><i class="fa fa-linkedin fa-fw"></i> UK Federation / OAuth2 Bridge</button> </li -->
</ul>
<p class="small"><strong>Users of Monitor UK:</strong> Please be aware that your log in details are likely to be different</p>