<p class="lead">Please use the button below to log into Monitor Local with Shibboleth.</p>

<ul class="sign-in-buttons">
  <!-- li><button class="btn btn-success" ng-click="authenticate('google')">Login using your Google account</button></li -->
  <li><button class="btn btn-danger" ng-click="authenticate('sob')"><i class="fa fa-linkedin fa-fw"></i> UK Federation / OAuth2 Bridge</button> </li>
</ul>
<p class="small"><strong>Users of Monitor UK:</strong> Please be aware that your log in details are likely to be different</p>
