
<h3>Monitor Local Login</h3>
<p>
  <i><strong>Beta Phase login</strong></i> : Monitor local will use shibboleth based identity providers at full launch.
  Until then, we're busy with core functions and getting the servers configured. Beta test users should use the Google login
  below. UK Federation will be available at launch (Ideally shortly before).
</p>

<ul class="list-unstyled">
  <li><button class="btn btn-ok" ng-click="authenticate('google')"><i class="fa fa-google-plus fa-fw"></i> Google</button></li>
  <li> <button class="btn btn-danger" ng-click="authenticate('sob')"><i class="fa fa-linkedin fa-fw"></i> UK Federation / OAuth2 Bridge</button> </li>
</ul>
