<section id="profile-grid" class="inner">
  <form id="userProfile" name="userProfile" class="row" >
    <article data-ui-view>
      <div class="panel panel-collapsible panel-default">

        <div class="panel-heading">
          <h3 data-toggle="collapse" data-target="#profile-body" aria-label="Expand/Collapse the main Org content" id="profile-heading">User Profile</h3>
        </div>

        <div id="profile-body" class="panel-body form-horizontal in" aria-labelledby="user-displayName">

          <div class="form-group form-group-sm">
            <label id="userDisplayNameLabel" for="id" class="span-3 control-label" aria-label="userDisplayName">Display Name</label>
            <div class="span-9">
              <p type="text" class="form-control-static" id="userDisplayName" name="userDisplayName" aria-labelledby="userDisplayNameLabel" data-ng-bind="application.user.name"></p>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label id="userBioLabel" for="id" class="span-3 control-label" aria-label="userBio">User Biography / Note</label>
            <div class="span-9">
              <pre class="form-control-static" id="userBio" name="userBio" aria-labelledby="userBioLabel" data-ng-bind="application.user.bio"></pre>
            </div>
          </div>
          
          <div class="form-group form-group-sm">
            <label id="orgLabel" for="id" class="span-3 control-label" aria-label="Organisation">Organisation</label>
            <div class="span-9">
              <p type="text" class="form-control-static" id="org" name="org" aria-labelledby="orgLabel" data-ng-bind="application.user.userOrg.name"></p>
            </div>
          </div>
        </div>
      </div>
    </article>
    <div class="form-group pull-right">
      <button type="button" class="btn btn-success" data-ng-click="saveChanges()">Save</button>
      <button type="button" class="btn btn-link" data-ng-click="cancelChanges()">Cancel</button>
    </div>
  </form>
</section>