<section id="org-grid" class="inner">
  <form id="userProfile" name="userProfile" class="row" >
    <article data-ui-view>
      <div class="panel panel-collapsible panel-default">

        <div class="panel-heading">
          <h3 data-toggle="collapse" data-target="#org-body" aria-label="Expand/Collapse the main Org content" id="org-heading">User Profile</h3>
        </div>

        <div id="org-body" class="panel-body form-horizontal in" aria-labelledby="user-displayName">

          <div class="form-group form-group-sm">
            <label id="userDisplayNameLabel" for="id" class="span-3 control-label" aria-label="userDisplayName">Display Name</label>
            <div class="span-2">
              <input type="text" class="form-control" id="userDisplayName" name="userDisplayName" aria-labelledby="userDisplayNameLabel" data-ng-model="application.user.name" />
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label id="userBioLabel" for="id" class="span-3 control-label" aria-label="userBio">User Biography / Note</label>
            <div class="span-7">
              <textarea type="text" class="form-control" id="userBio" name="userBio" aria-labelledby="userBioLabel" data-ng-model="application.user.bio"></textarea>
            </div>
          </div>

        </div>
      </div>
    </article>
    <div class="form-group pull-right">
      <button type="button" class="btn btn-success" data-ng-click="saveChanges()">Save</button>
      <button type="button" class="btn btn-link" data-ng-click="cancelChanges()">Cancel</button>
    </div>
  </form>


  <div class="panel panel-collapsible panel-default">

    <div class="panel-heading">
      <h3 data-toggle="collapse" data-target="#org-body" aria-label="Expand/Collapse the main Org content" id="org-heading">Current Organisational Affiliations</h3>
    </div>

    <div id="org-body" class="panel-body form-horizontal in" aria-labelledby="user-displayName">
      <table class="table table-striped">
        <tr>
          <th>Organisation</th>
          <th>Role</th>
          <th>Status</th>
        </tr>
        <tr ng-repeat="affiliation in application.user.affiliations">
          <td>{{affiliation}}</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>
            <kint-component-lookup name="reqOrgName" id="reqOrgName" class="form-control input-sm"
               data-object="affiliationRequestData " data-property="institution"
               data-context-obj="context" data-context-path="institution"
               data-params="{ match:['name'], perPage: 25 }" ></kint-component-lookup>
          </td>
          <td>
            <select class="c-select form-control" name="role"><option value="User">Standard User</option><option value="Admin">Admin</option></select>
          </td>
          <td><button type="button" class="btn btn-success" data-ng-click="requestAffiliation()">Request</button></td>
        </tr>
      </table>
    </div>
  </div>

</section>

<pre>
  {{application.user}}
</pre>
