<div class="article-full col-md-9">
  <p>Thank you for using the Monitor Local Beta, we hope you will help us to make a great product by providing feedback.</p>

  <h2>What to expect</h2>
  <p>Now Monitor Local has moved into it’s “Beta” phase, you should find that the system allows you to carry out all the basic tasks for recording information about research publications and the related APCs.</p>
  <p>In the Beta phase you will be able to login to Monitor Local using a Google account - this will change to using institutional logins (via Shibboleth/UKAMF) at the end of the beta phase.</p>
  <p>Once you are logged in, you can ‘join’ an institution and then enter information for that institution. Once logged in, you should only see information related to the institution you belong to.</p>

  <h2>What’s missing</h2>
  <p>While Monitor Local is now in Beta, it is still software in active development and you are likely to encounter some issues or notice missing functionality during this phase. We will be updating the software during the beta phase to fix issues and add functionality.</p>
  <p>There are several areas where we know there are issues - for example:</p>
  <ul>
    <li><strong>Compliance checks:</strong> Currently only compliance checks for RCUK have been implemented, and in some cases compliance checks display for non-RCUK funded items</li>
    <li><strong>All &quot;Manage&quot; screens:</strong> We have not yet implemented all the search and filter options on the Manage screens. On most of the Manage screens there is a single search box which searches across multiple fields, but specific searches such as filters by date or status have not yet been implemented.
        The search function will be enhanced with future software updates</li>
    <li><strong>Integration with external systems:</strong> We are still working on the integration between Monitor Local and other systems such as Sherpa, Lantern and Monitor UK</li>
  </ul>
  <p>This is not a comprehensive list but may help ensure you don’t report issues that we are already aware of.</p>
  
  <h2>If you encounter major issues with the system...</h2>
  <p>If you encounter an issue that stops you using the system effectively (such as being unable to login, unable to enter or view information, on screen errors etc.) then please report this by email to <a href="mailto:owen@ostephens.com?subject=Monitor Local Beta - Major issue report" >owen@ostephens.com</a>. 
      We will try to fix any such errors as quickly as possible so you are able to get on with using the system.</p>
  
  <h2>If you have feedback on missing functionality or suggested enhancements</h2>
  <p>Feedback on missing functionality or ways in which we could improve the system should be reported via the form at <a href="http://goo.gl/forms/dC06E0vRMT4rRCVf2" >http://goo.gl/forms/dC06E0vRMT4rRCVf2</a></p>
  <p>The form will prompt you for various information including what screen it relates to and what improvement you would like to see. We’ll be gathering and analysing all feedback during the beta testing and either fixing
      the issue (e.g. where we are missing functionality needed for the system to work effectively) or adding to the list of enhancements that could be added to the system following the initial launch.</p>
  
  <h2>Get started</h2>
  <p>The URL for Monitor Local beta is <a href="https://monitor.jisc.ac.uk/" >https://monitor.jisc.ac.uk/</a>. To use the system you will need to login and set your user profile information. This takes a few steps, and you will need to read the instructions available at <a href="http://bit.ly/29yKF79" >http://bit.ly/29yKF79</a>.</p>
</div>
