<div class="article-full">
  <h1>Welcome</h1>
  <p>Thank you for using the Monitor Local Beta, we hope you will help us to make a great product by providing feedback</p>

  <h2>What to expect</h2>

  <p>List of what you can do</p>
  <ul>Any caveats that aren’t ‘missing features per se’</ul>
  <ul>e.g. the fact that all inst’s AOs are visible</ul>

  <h2>What’s missing</h2>

  <p>Short sentence to reiterate that the service is in active development</p>

  <li>List of things that don’t work</li>
  <li>broken down by screen, tab</li>

  <h2>How to provide feedback</h2>

  <h3>If you spot something that doesn’t work</h3>

  <p>Words to the extent of “If something doesn’t work as expected {instructions, including link(s)}</p>

  <p>We’re particularly interested in feedback on:

    <ul>List – if applicable</ul>
  </p>

  <h3>If you have general feedback</h3>

  <p>As above, but for general comments</p>

  <h2>Get started</h2>

  <p>Something to the extent of “Start using the application, by managing academic outputs, invoices, etc. Use the navigation on the left of the screen to move around Monitor Local.” - Mentioning some of the primary tasks, and includes links to the screens.</p>
</div>
