<div>
  <h2>{{academicData.name}}</h2>
  <ul>
    <li ng-repeat="item in academicData.items">

      <!-- Here's another ui-sref except THIS time we are passing parameters
           AND inheriting parameters from active ancestor states. So we don't
           need to resupply the academicId parameter. -->
      <a ui-sref="academic.detail.item({itemId:item.id})">{{item.type}}</a>
    </li>
  </ul>
  <div ui-view class="slide">
    <!-- Example of default content. This content will be replace as soon as
         this ui-view is populate with a template -->
    <small>Click on a academic item to view and/or edit it.</small>
  </div>
</div>
