<div class="row">
  <div class="span3">
    <div class="pa-sidebar well well-small">
      <ul class="nav nav-list">
        <li ng-class="{ active: $state.includes('academic.list') }"><a ui-sref="academic.list">All Academic Output</a></li>
        <li class="nav-header">Top academic</li>

        <!-- This <li> will only add the 'active' class if 'academic.detail' or its descendants are active
             AND if it is the link for the active academicData (aka academicId) -->
        <li ng-repeat="item in academic | limitTo:2" ui-sref-active="active">

          <!-- Here's a ui-sref that is also providing necessary parameters -->
          <a ui-sref="academic.detail({academicId:item.id})">{{item.name}}</a>
        </li>
      </ul>
      <hr>
    </div>
  </div>

  <!-- Our unnamed main ui-view for this template -->
  <div ui-view class="span9 slide"></div>
</div>
