<section id="org-grid" class="inner">
  <form id="organisationSearchForm" name="organisationSearchForm" class="row" >
    <div class="form-group form-group-sm">
      <label id="orgNameLabel" for="id" class="span-2 control-label" aria-label="Org Name"><span class="pull-right">Organisation Search:</span></label>
      <div class="span-4">
          <input type="text" class="form-control input-xxl" id="id" name="id" aria-labelledby="orgNameLabel" data-ng-model="queryParams.name" />
      </div>
      <div class="form-group pull-right">
        <button type="button" class="btn btn-success" ng-click="doSearch()">Search</button>
      </div>
    </div>
  </form>
</section>
