<form id="searchForm" name="searchForm" class="search-box" >
  <div class="row span-6" >
    <label id="searchLabel" for="search" class="control-label sr-only" aria-label="Search">Search:</label>
    <div class="input-group">
      <input type="text" class="form-control" id="search" name="search" 
        placeholder="Search organisations..." aria-labelledby="searchLabel" 
        data-ng-model="queryParams.q" data-ng-keydown="$event.which === 13 && doSearch()" />
      <div class="input-group-btn">
        <button class="btn btn-info" type="button" ng-click="doSearch()" >
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </div>
</form>