<section id="org-grid" class="inner">
  <form id="organisation" name="organisation" class="row" >
    <article data-ui-view>
      <div class="panel panel-collapsible panel-default">
        <div class="panel-heading">
          <h3 data-toggle="collapse" data-target="#org-body" aria-label="Expand/Collapse the main Org content" id="org-heading">Organisation details</h3>
        </div>
        <div id="org-body" class="panel-body form-horizontal in" aria-labelledby="org-heading">

          <div class="form-group form-group-sm">
            <label id="orgIdLabel" for="id" class="span-3 control-label" aria-label="Org ID">Organisation ID</label>
            <div class="span-2">
              <input type="text" class="form-control" id="id" name="id" aria-labelledby="orgIdLabel" disabled="true" data-ng-model="context.id" />
            </div>
            <label id="isniLabel" for="isni" class="span-1 control-label" aria-label="Org ID">ISNI</label>
            <div class="span-2">
              <kint-identifier data-property="identifiers" data-namespace="isni" class="form-control" id="isni" name="isni" aria-labelledby="isniLabel" data-ng-model="context.identifiers" ></k-int-identifier>
            </div>
            <label id="ringgoldLabel" for="ringgold" class="span-2 control-label" aria-label="Org ID">Ringgold</label>
            <div class="span-2">
              <kint-identifier data-property="identifiers" data-namespace="ringgold" class="form-control" id="ringgold" name="ringgold" aria-labelledby="isniLabel" data-ng-model="context.identifiers" ></k-int-identifier>
            </div>
          </div>

          <div class="form-group form-group-sm" data-ng-class="{'has-error': (organisation.name.$dirty && organisation.name.$invalid), 'has-success': (organisation.name.$dirty && organisation.name.$valid)}" >
            <label id="nameLabel" for="name" class="span-3 control-label" aria-label="Organisation Name" >Organisation Name*</label>
            <div class="span-9">
              <!--<kint-component-lookup name="name" id="name" data-object="context" data-property="name" data-template="name" class="form-control input-sm" required  data-params="{ match:['name'], perPage: 25 }" >-->
              <input type="text" class="form-control" id="name" name="name" placeholder="Organisation name" aria-labelledby="nameLabel"
                     data-ng-model="context.name" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                     data-kint-ui-input-feedback data-kint-validate required />
              <div data-ng-if="organisation.name.$dirty" data-ng-messages="organisation.name.$error" class="help-block" role="alert">
                <p data-ng-message="required">Please enter a name</p>
                <p data-ng-message="kintValidate">{{organisation.name.kintValidate.message}}</p>
              </div>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label id="orgAddressLabel" for="address" class="span-3 control-label" aria-label="Org Address">Organisation Address</label>
            <div class="span-9">
              <textarea type="text" class="form-control" id="address" name="address" placeholder="Address" aria-labelledby="orgAddressLabel"
                     data-ng-model="context.address" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                     data-kint-ui-input-feedback data-kint-validate></textarea>
            </div>
          </div>

          <div class="form-group form-group-sm">
            <label id="orgTaxCodeLabel" for="taxCode" class="span-3 control-label" aria-label="Org Tax Code">Organisation VAT/Tax Code</label>
            <div class="span-5">
              <input type="text" class="form-control" id="taxCode" name="taxCode" placeholder="Tax Code" aria-labelledby="orgTaxCodeLabel"
                     data-ng-model="context.taxCode" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                     data-kint-ui-input-feedback data-kint-validate />
            </div>
          </div>

          <div class="form-group form-group-sm" data-ng-class="{'has-error': (organisation.type.$dirty && organisation.type.$invalid), 'has-success': (organisation.type.$dirty && organisation.type.$valid)}">
            <label id="orgTypeLabel" for="type" class="span-3 control-label" aria-label="Org Type">Organisation Type</label>
            <div class="span-9">
              <kint-refdata-lookup name="type" id="type" data-object="context" data-property="type" class="form-control input-sm" >
            </div>
          </div>

          <div class="form-group form-group-sm" data-ng-if="context.type.value === 'Funder'" data-ng-class="{'has-error': (organisation.fundingGroup.$dirty && organisation.fundingGroup.$invalid), 'has-success': (organisation.fundingGroup.$dirty && organisation.fundingGroup.$valid)}">
            <label id="orgFundingGroupLabel" for="fundingGroup" class="span-3 control-label" aria-label="Org Funding Group">Funding Group</label>
            <div class="span-9">
              <kint-refdata-lookup name="fundingGroup" id="fundingGroup" data-object="context" data-property="fundingGroup" class="form-control input-sm" >
            </div>
          </div>
        </div>
      </div>
    </article>
    <div class="form-group pull-right">
      <button type="button" class="btn btn-success" data-ng-click="saveChanges()" data-ng-disabled="!organisation.$dirty || organisation.$invalid" >Save</button>
      <button type="button" class="btn btn-link" data-ng-click="cancelChanges()" data-ng-disabled="!organisation.$dirty" >Cancel</button>
    </div>
  </form>
</section>
