<section id="org-grid" class="inner tab-content">
  <form id="oganisation" name="oganisation" class="row" >
    <article class="span-12" data-ui-view>
      <div class="panel panel-collapsible panel-default">
        <div class="panel-heading">
          <h3 data-toggle="collapse" data-target="#mainPanel" aria-label="Expand/Collapse the main Org content" id="org-main-heading">Organisation details</h3>
        </div>
        <div class="panel-body form-horizontal in" aria-labelledby="mainPanelHeading">

          <div class="form-group">
            <label id="orgIdLabel" for="id" class="span-3 control-label" aria-label="Org ID">Organisation ID</label>
            <div class="span-2">
              <input type="text" class="form-control" id="id" name="id" aria-labelledby="orgIdLabel" disabled="true" data-ng-model="context.id" />
            </div>
          </div>

          <div class="form-group" data-ng-class="{'has-error': (oganisation.name.$dirty && oganisation.name.$invalid), 'has-success': (oganisation.name.$dirty && oganisation.name.$valid)}" >
            <label id="nameLabel" for="name" class="span-3 control-label" aria-label="Organisation Name" >Organisation Name</label>
            <div class="span-9">
              <input type="text" class="form-control" id="name" name="name" placeholder="Organisation name" aria-labelledby="nameLabel"
                     data-ng-model="context.name" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                     data-kint-ui-input-feedback data-kint-validate required />
              <div data-ng-if="oganisation.name.$dirty" data-ng-messages="oganisation.name.$error" class="help-block" role="alert">
                <p data-ng-message="required">Please enter a name</p>
                <p data-ng-message="kintValidate">{{oganisation.name.kintValidate.message}}</p>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label id="orgAddressLabel" for="address" class="span-3 control-label" aria-label="Org Address">Organisation Address</label>
            <div class="span-9">
              <textarea type="text" class="form-control" id="address" name="address" placeholder="Address" aria-labelledby="orgAddressLabel"
                     data-ng-model="context.address" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                     data-kint-ui-input-feedback data-kint-validate required></textarea>
            </div>
          </div>

          <div class="form-group">
            <label id="orgTaxCodeLabel" for="orgTaxCode" class="span-3 control-label" aria-label="Org Tax Code">Organisation VAT/Tax Code</label>
            <div class="span-5">
              <input type="text" class="form-control" id="taxCode" name="taxCode" placeholder="Tax Code" aria-labelledby="orgTaxCodeLabel"
                     data-ng-model="context.taxCode" data-ng-model-options="{ updateOn: 'default', debounce: { default: 650} }"
                     data-kint-ui-input-feedback data-kint-validate required />
            </div>
          </div>

          <div class="form-group" >
            <label id="orgTypeLabel" for="orgType" class="span-3 control-label" aria-label="Org Type">Organisation Type</label>
            <div class="span-9">
              <kint-component-lookup name="orgType" id="orgType" data-object="context" data-property="relatedTo" class="form-control" ></kint-component-lookup>
            </div>
          </div>
        </div>
      </div>
    </article>
    <div class="form-group pull-right">
      <button type="button" class="btn btn-success" data-ng-click="saveChanges()" data-ng-disabled="organisation.$invalid" >Save</button>
      <button type="button" class="btn btn-link" >Cancel</button>
    </div>
  </form>
</section>
